.login-div{
  width: 40%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border:1px solid rgb(0 0 0 / 42%);
  padding: 1.5rem;
}
.mat-form-field{display: block;}
